.header{
    width: 100%;
    height: 80px;
    padding: 0 var(--padding-left-right);
    background-color: var(--bgr-header-c);
    backdrop-filter: blur(12px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 999;
}
.headerCtn{
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.headerTop{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.headerUser{
    display: flex;
    justify-content: end;
    min-width: 184px;
}