.icon {
    font-size: 2.4rem;
}

.listItemText {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    
    :global {
        .MuiListItemText-primary {
            font-size: 1.6rem;
        }
    }
}
