.passwordForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0;

    .modalActions {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        justify-content: flex-end;
    }
}
