.parentRequest {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgr-c);
    padding: 2rem;
}

.container {
    margin: 0 auto;
    max-width: var(--max-width);
}

@media (max-width: 768px) {
    .parentRequest {
        padding: 1.5rem;
    }
}
