.tutorHome{
    max-width: var(--max-width);
    margin: 0 auto;
}
.section{
    margin-bottom: 20px;
}
.boxInfor{
    background-color: var(--section-bgr);
    height: 100%;
    width: 100%;
    border-radius: 12px;
}