.listClasses{
    padding: 12px 0;

}
.ctn{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--section-bgr);
    border-radius: 12px;
    padding: 12px 0;
}
.header{
    border-bottom: 1px solid var(--border-c-04);
    .title{
        font-size: 2rem;
        font-weight: 600;
        color: var(--primary-c);
        padding: 4px 12px;
    }
}
.body{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 12px;

}
.cardItem{
    width: 100%;
    flex: 0 0 100%;
    &+ .cardItem{
        margin-top: 12px;
    }
}